In [ ]:
# data type and structure questions

In [ ]:
'''
1 What are data structures, and why are they important?

 data structure way of organising and storing data so that the work can be done on it. they are basically types of data in language like integer string boolean and other
 they are important as we cant perform all the operation by using single data so need different varities
 '''

In [ ]:
'''
2 Explain the difference between mutable and immutable data types with examples?

  mutable are the data type that can be changed such as list while immutable data type cannot be changed such as string

'''
l=[1,2,3,4]
l[2]=5
print(l)

[1, 2, 5, 4]

In [ ]:
l=(1,2,3,4)
l[2]=5
print(l)

TypeError: 'tuple' object does not support item assignment

In [ ]:
'''
3.What are the main differences between lists and tuples in Python?

lists are mutable while tuples are immutable
'''

In [ ]:
'''
4.Describe how dictionaries store data?

 dicitinary store data in key value pair
 info={name:roshan,age:25}

'''

In [ ]:
'''
5.Why might you use a set instead of a list in Python?

 bcz set only store unique values while in list it can be repeated
'''

In [ ]:
'''
6.What is a string in Python, and how is it different from a list?

 strings are like a sequence of characater represent and manipulate data strings are immutable while list are mutable

'''

In [ ]:
'''
7 How do tuples ensure data integrity in Python?

  data integity means data is safe and secure no one can change it in program
  and tuples are immutable so data integrity is ensured
'''

In [ ]:
'''
8 What is a hash table, and how does it relate to dictionaries in Python?

  hash table is a data sturcture in which values are store like as a bucket
  the same thing happens in dictionaries as it also store in key value form

  '''

In [ ]:
'''
9 Can lists contain different data types in Python?

 yes list contains all the data types such as string num boolean etc
 '''
l=[1,2,3,4,'roshan',True]
l

[1, 2, 3, 4, 'roshan', True]

In [ ]:
'''
10 Explain why strings are immutable in Python?

strings are immutable as once it created cant be changed
but we can do other function on it such as concatenation
slicing and replacing of vlaues

In [ ]:
'''
11 What advantages do dictionaries offer over lists for certain tasks?

 both have work of storing values but dictionaries have advantage as it store in key value format
 so that we can retrive or call any particular key value pair

'''

In [ ]:
'''
12 Describe a scenario where using a tuple would be preferable over a list?
 list are mutable tuple are not password and address are like tuple cant change
 while list can be changed such as grocery list
'''

In [ ]:
'''
13 How do sets handle duplicate values in Python?

sets only store unique values that is the reason it doesnt store duplicate values
it will print only unique values

'''

In [ ]:
'''
14 How does the “in” keyword work differently for lists and dictionaries?

 in is the membership operator to find value in list it is used to check presence of element
 while in the dictionary it is used to check presence of key
'''

In [ ]:
'''
15 Can you modify the elements of a tuple? Explain why or why not?

  once tuple is created cant be modified as it is immutable

'''

In [ ]:
'''
16 What is a nested dictionary, and give an example of its use case?

dicitinary inside dictionary is called nested dictionary
'''
info={'male':{'name':'roshan','age':25,'female':{'name':'nishu','age':24}}}
info

{'male': {'name': 'roshan', 'age': 25, 'female': {'name': 'nishu', 'age': 24}}}

In [ ]:
'''
17 Describe the time complexity of accessing elements in a dictionary?

there are lots of data structure in which dictionary are the fastest one
to store and access or retrieve using key value pair as it uses stable hash value

'''

In [ ]:
'''
18 In what situations are lists preferred over dictionaries?

 list are to be used when the order matters as in calling list comes in order
 while dictionaries are not come in orderly collection

 '''

In [ ]:
'''
19 Why are dictionaries considered unordered, and how does that affect data retrieval?

dictionary are unordered collection by key value function not have any order while iteration it affect the data retrival as
they are called by key value pair

'''

In [ ]:
'''
20 Explain the difference between a list and a dictionary in terms of data retrieval?

list are ordered collection and dictionary are unordered collection
and list can be accessed using index function but dicitinary can be accessed using key value pair

'''

# practical question

In [ ]:
'''
 1 Write a code to create a string with your name and print it?

 '''
name='roshan'

print(name)

roshan

In [ ]:
'''
2.Write a code to find the length of the string "Hello World"?
'''
a="hello world"
len(a)

11

In [ ]:
'''
3 Write a code to slice the first 3 characters from the string "Python Programming?
'''
a="roshan patel"
a[0:3]

'ros'

In [ ]:
'''
4 Write a code to convert the string "hello" to uppercase?
'''
h="hello"
h.upper()

'HELLO'

In [ ]:
'''
5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?
'''
fruits="i like apple"
fruits.replace("apple","orange")

'i like orange'

In [ ]:
'''
6.Write a code to create a list with numbers 1 to 5 and print it
'''
n=[1,2,3,4,5]
n

[1, 2, 3, 4, 5]

In [ ]:
'''
7 Write a code to append the number 10 to the list [1, 2, 3, 4]?
'''
l=[1,2,3,4]
l.append(10)
l

[1, 2, 3, 4, 10]

In [ ]:
'''
8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
'''
p=[1,2,3,4,5]
p.remove(3)
p

[1, 2, 4, 5]

In [ ]:
'''
9 Write a code to access the second element in the list ['a', 'b', 'c', 'd'] ?
'''
A=['a','b','c','d']
A[-3]

'b'

In [ ]:
'''
10 Write a code to reverse the list [10, 20, 30, 40, 50] ?
'''
n=[10,20,30,40]
n.reverse()
n

[40, 30, 20, 10]

In [ ]:
'''
11. Write a code to create a tuple with the elements 100, 200, 300 and print it ?
'''
t=(100,200,300)
t

(100, 200, 300)

In [ ]:
'''
12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow') ?
'''
t=('red','green','blue','yellow')
t[-2]

'blue'

In [ ]:
'''
13 Write a code to find the minimum number in the tuple (10, 20, 5, 15) ?
'''
t=(10,20,5,15)
min(t)

5

In [ ]:
'''
14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit') ?
'''
animal=('dog','cat','rabbit')
animal.index('cat')

1

In [ ]:
'''
15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
'''
fruits=('papaya','apple','kiwi')
for i in fruits:
    if i=='kiwi':
        print('yes')

yes

In [ ]:
'''
16 Write a code to create a set with the elements 'a', 'b', 'c' and print it?
'''
s={'a','b','c','d'}
s

{'a', 'b', 'c', 'd'}

In [ ]:
'''
17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
'''
s={1,2,3,4,5}
s.clear()
s

set()

In [ ]:
'''
18 Write a code to remove the element 4 from the set {1, 2, 3, 4}?
'''
s={1,2,3,4}
s.remove(4)
s

{1, 2, 3}

In [ ]:
'''
19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}?
'''
s1={1,2,3,4}
s2={6,7,8}
s1|s2

{1, 2, 3, 4, 6, 7, 8}

In [ ]:
'''
20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}?
'''
s1={1,2,3,4}
s2={2,3,4}
s1&s2

{2, 3, 4}

In [ ]:
'''
21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it ?
'''
personal_info={'name':'roshan patel','age':25,'city':'indore'}
personal_info

{'name': 'roshan patel', 'age': 25, 'city': 'indore'}

In [ ]:
'''
22 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25} ?
'''
personal_info={'name':'roshan patel','age':25}
personal_info['country']='USA'
personal_info

{'name': 'roshan patel', 'age': 25, 'country': 'USA'}

In [ ]:
'''
23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}?
'''
employee_info={'name':'roshan patel','age':25}
employee_info['name']

'roshan patel'

In [ ]:
'''
24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}?
'''
student_info={'name':'amit kumar','age':22,'city':'newyork'}
student_info.pop('age')
student_info

{'name': 'amit kumar', 'city': 'newyork'}

In [ ]:
'''
25 Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}?
'''
employee_info={'name':'roshan patel','city':'indore'}
for i in employee_info:
    if i=='city':
        print('yes')

yes

In [ ]:
'''
26 Write a code to create a list, a tuple, and a dictionary, and print them all?
'''
l=[1,2,3,4]
t=(1,2,3,4)
d={'name':'roshan','age':25}
print(l)
print(t)
print(d)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'roshan', 'age': 25}

In [ ]:
'''
27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result (replaced)?
'''
import random
l=[random.randint(1,100) for i in range(5)]
l.sort()
l

[9, 87, 96, 97, 97]

In [1]:
'''
28 Write a code to create a list with strings and print the element at the third index.?
'''
n=['amit','roshan','viraj','jeewan']
n[3]

'jeewan'

In [ ]:
'''
29 Write a code to combine two dictionaries into one and print the result?
'''
d1={'name':'roshan','age':25}
d2={'city':'indore','country':'india'}
d1.update(d2)
d1

{'name': 'roshan', 'age': 25, 'city': 'indore', 'country': 'india'}

In [ ]:
'''
30 Write a code to convert a list of strings into a set?
'''
a=['apple','banana','mango']
set(a)

{'apple', 'banana', 'mango'}